<div data-role="page" data-theme="e">

  <div data-role="header" data-position="inline">
    <h1>このアプリについて</h1>
  </div>

  <div data-role="content">
  ・このアプリは個人が作成したものであり、各路線バス事業者と関係ございません。<br>
<br>
  ・このアプリで公開している情報は各バス事業者が公開している情報を元に構築しておりますが、転記ミス、最新情報の反映漏れなどにより誤っている可能性がございます。<br>発覚次第対応致しますが、ご注意ください。<br>
<br>
  ・対応路線は順次追加していきます。アプリのページなどでリクエスト頂ければ、優先度が上がるかもしれません。
  </div>
<div data-role="footer" data-position="fixed">
  <%= putcms %>
<div>

